.idea
.vscode
.DS_Store
npm-debug.log

lib/
.tmp/
typings/
coverage/
node_modules/
.nyc_output/

# Real key file should not be checked in
test/resources/key.json
test/resources/apikey.txt

# Release tarballs should not be checked in
firebase-admin-*.tgz

docgen/html/

logs
enablex-communication-kit-firebase-adminsdk-mg126-101a8d80b3.json
.env
apns_certs
